<div class="container-fluid">
    <div class="modal-header">
        <h4 class="modal-title">Preview</h4>
        <button type="button" class="btn-close" aria-label="Close"
                (click)="activeModal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body" #projectTableContainer>
        @for (project of projects; track project.name; let projectIndex = $index) {
            <table class="mb-4" [id]="getProjectIdFromProjectName(project.name)" #projectTables>
                <tr class="table-title-header">
                    <th colspan="6" class="text-center">Daily Task Status</th>
                </tr>
                <tr class="header-row">
                    <th colspan="2">Name: {{ getUsername() }} <br>Project: {{ project.name }}</th>
                    <th colspan="4">Date: {{ getCurrentDate() | date:'d MMMM, y' }}</th>
                </tr>
                <tr>
                    <th>SL. No.</th>
                    <th class="table-data">Task Name</th>
                    <th class="table-data">Est. Time</th>
                    <th class="table-data">Act. Time</th>
                    <th class="table-data">Status</th>
                    <th class="table-data">Remarks</th>
                </tr>

                @for (task of project.tasks; track task.taskName; let taskIndex = $index) {
                    <tr>
                        <td class="text-center" style="width: 65px">{{ taskIndex + 1 }}</td>
                        <td class="white-space-pre-wrap" style="width: 530px">{{ task.taskName }}</td>
                        <td style="width: 100px">{{ notNullAndNotEmpty(task.estimatedHour) ? task.estimatedHour + 'H' : '' }} {{ notNullAndNotEmpty(task.estimatedMinute) ? task.estimatedMinute + 'M' : '' }}</td>
                        <td style="width: 100px">{{ notNullAndNotEmpty(task.activeHour) ? task.activeHour + 'H' : '' }} {{ notNullAndNotEmpty(task.activeMinute) ? task.activeMinute + 'M' : '' }}</td>
                        <td>{{ task.status }}</td>
                        <td class="white-space-pre-wrap" style="width: 190px">{{ task.remarks }}</td>
                    </tr>
                }

            </table>
        }

    </div>
    <div class="modal-footer">
        @if (projects.length > 1) {
            <button type="button" class="btn btn-success" (click)="generateMultipleImageAndDownloadAsZip()">
                @if (loading) {
                    <div class="spinner-border spinner-border-sm" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                }
                <fa-icon [icon]="fileZipIcon" class="mx-1"></fa-icon>
                Generate Image & Download ZIP
            </button>
        } @else {
            <button type="button" class="btn btn-success" (click)="generateSingleImageAndCopyToClipboard()">
                @if (loadingImageCopying) {
                    <div class="spinner-border spinner-border-sm" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                }
                <fa-icon [icon]="copyIcon" class="mx-1"></fa-icon>
                Copy Image
            </button>
            <button type="button" class="btn btn-success" (click)="generateSingleImageAndDownload()">
                @if (loading) {
                    <div class="spinner-border spinner-border-sm" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                }
                <fa-icon [icon]="fileDownloadIcon" class="mx-1"></fa-icon>
                Generate & Download Image
            </button>
        }
        <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">
            <fa-icon [icon]="crossIcon" class="me-1"></fa-icon>
            Close
        </button>
    </div>
</div>
