<div class="main">
    <div class="container-fluid">
        <div class="container">
            <h1 class="text-center mb-5">Daily Task Status Generator</h1>

            <!-- Username -->
            <div class="row align-items-center">
                <div class="col-1 text-center">
                    <label for="username"><strong>Name:</strong></label>
                </div>
                <div class="col-5">
                    <input class="form-control" type="text" id="username" placeholder="Name..">
                </div>
<!--                <div class="col-2 text-center">-->
<!--                    <label for="username"><strong>Date:</strong></label>-->
<!--                </div>-->
<!--                <div class="col-4">-->
<!--                    <input class="form-control" type="date" id="date">-->
<!--                </div>-->
            </div>
            <hr class="mb-4">

            <!-- Add more project button -->
            <div class="pb-3">
                <button class="btn btn-primary" (click)="addEmptyProject()">
                    <fa-icon [icon]="addIcon"></fa-icon>
                    Add a new project
                </button>
            </div>


            @for (project of projects; track project.name; let projectIndex = $index) {
                <!-- Project Row -->
                <div class="row align-items-center">
                <!-- Remove project button -->
                    <div class="col-md-1">
                        <button class="btn btn-danger" (click)="removeProject(projectIndex)">
                            <fa-icon [icon]="minusIcon"></fa-icon>
                        </button>
                    </div>
                    <div class="col-2">
                        <label><strong>Project Name:</strong></label>
                    </div>
                    <div class="col-9">
                        <input class="form-control" type="text" placeholder="Project name.." [(ngModel)]="project.name">
                    </div>
                </div>
                <hr class="pb-2">

                <!-- Task Row headings -->
                <div class="row align-items-center pb-3">
                    <!-- Add more task button -->
                    <div class="col-1 text-center">
                        <button class="btn btn-success" (click)="addEmptyTask(projectIndex)">
                            <fa-icon [icon]="addIcon"></fa-icon>
                        </button>
                    </div>
                    <div class="col-1">
                        <strong>SL</strong>
                    </div>
                    <div class="col-3">
                        <strong>Task Name</strong>
                    </div>
                    <div class="col-2 text-center">
                        <strong>Estimated Time</strong>
                    </div>
                    <div class="col-2 text-center">
                        <strong>Active Time</strong>
                    </div>
                    <div class="col-1">
                        <strong>Status</strong>
                    </div>
                    <div class="col-2">
                        <strong>Remarks</strong>
                    </div>
                </div>
                @for (task of project.tasks; track task.taskName; let taskIndex = $index) {
                    <!-- Task Row body -->
                    <div class="row align-items-center pb-2">
                        <!-- Remove task button -->
                        <div class="col-1 text-center">
                            <button class="btn btn-danger" (click)="removeTask(projectIndex, taskIndex)">
                                <fa-icon [icon]="minusIcon"></fa-icon>
                            </button>
                        </div>
                        <div class="col-1">
                            {{ taskIndex + 1 }}
                        </div>
                        <div class="col-3">
                            <input type="text" class="form-control" [(ngModel)]="task.taskName">
                        </div>

                        <!-- Estimated Time -->
                        <div class="col-1">
                            <div class="input-group">
                                <input type="text" class="form-control" [(ngModel)]="task.estimatedHour">
                                <span class="input-group-text">H</span>
                            </div>
                        </div>
                        <div class="col-1">
                            <div class="input-group">
                                <input type="text" class="form-control" [(ngModel)]="task.estimatedMinute">
                                <span class="input-group-text">M</span>
                            </div>
                        </div>

                        <!-- Active Time -->
                        <div class="col-1">
                            <div class="input-group">
                                <input type="text" class="form-control" [(ngModel)]="task.activeHour">
                                <span class="input-group-text">H</span>
                            </div>
                        </div>
                        <div class="col-1">
                            <div class="input-group">
                                <input type="text" class="form-control" [(ngModel)]="task.activeMinute">
                                <span class="input-group-text">M</span>
                            </div>
                        </div>

                        <div class="col-1">
                            <select class="form-control" [(ngModel)]="task.status">
                                <option value="In Progress" selected>In Progress</option>
                                <option value="Done">Done</option>
                                <option value="Pending">Pending</option>
                            </select>
                        </div>
                        <div class="col-2">
                            <input type="text" class="form-control" [(ngModel)]="task.remarks">
                        </div>
                    </div>
                }
                <hr class="pb-5">
            }

        </div>
    </div>

    <footer>
        <!-- Submit Button -->
        <div class="submit-div bg-secondary-subtle">
            <div class="container">
                <div class="row text-center ">
                    <div class="col-12 my-3">
                        <button class="btn btn-success px-5" (click)="openPreviewModal()">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
