<div class="main">
    <div class="container-fluid">
        <div class="container">
            <h1 class="text-center mb-5">
                Daily Task Status Generator
            </h1>

            <!-- Username -->
            <div class="row">
                <app-username></app-username>
            </div>

            <hr class="mb-4">

            <!-- Add more project button -->
            <div class="pb-3">
                <button class="btn btn-primary" (click)="addEmptyProject()">
                    <fa-icon [icon]="addIcon"></fa-icon>
                    Add a new project
                </button>
            </div>


            @for (project of projects; track project.name; let projectIndex = $index) {
                <!-- Project Row -->
                <div class="row align-items-center">
                    <div class="d-flex">
                        @if (project.isEditing) {
                            <form>
                                <div class="d-flex">
                                    <input #projectNameInput class="form-control project-name-input" type="text"
                                           name="project-name" placeholder="Project name.."
                                           [(ngModel)]="project.name" (blur)="saveData(projectIndex)">

                                    <button class="btn text-success" title="Save" role="button" (click)="saveData(projectIndex)">
                                        <fa-icon class="fa-xl" [icon]="checkIcon"></fa-icon>
                                    </button>
                                    <button class="btn" title="Cancel" role="button" (click)="endEditingProjectName(projectIndex)">
                                        <fa-icon class="fa-xl" [icon]="crossIcon"></fa-icon>
                                    </button>
                                </div>
                            </form>
                        } @else {
                            <div class="d-flex align-items-center project-name-container">
                                <h1 class="project-name me-2" (click)="startEditingProjectName(projectIndex)">{{ project.name }}</h1>
                                <span class="project-name-edit-icon" (click)="startEditingProjectName(projectIndex)">
                                    <button class="btn" title="Edit project name">
                                        <fa-icon class="fa-lg" [icon]="pencilIcon"></fa-icon>
                                    </button>
                                </span>
                                <span class="project-delete-icon">
                                    <button class="btn text-danger" title="Delete the project" (click)="removeProject(projectIndex)">
                                        <fa-icon class="fa-lg" [icon]="trashIcon"></fa-icon>
                                    </button>
                                </span>
                                <span class="project-task-clear-icon">
                                    <button class="btn text-warning" title="Clear tasks" (click)="clearTaskOfProject(projectIndex)">
                                        <fa-icon class="fa-lg" [icon]="broomIcon"></fa-icon>
                                    </button>
                                </span>
                            </div>
                        }
                    </div>
                </div>
                <hr class="pb-2">

                <!-- Task Row headings -->
                <div class="row align-items-center pb-3">
                    <!-- Add more task button -->
                    <div class="col-1 text-center">
                        <button class="btn text-success" (click)="addEmptyTask(projectIndex)">
                            <fa-icon class="fa-xl" [icon]="addIcon"></fa-icon>
                        </button>
                    </div>
                    <div class="col-1">
                        <strong>SL</strong>
                    </div>
                    <div class="col-3">
                        <strong>Task Name</strong>
                    </div>
                    <div class="col-2 text-center">
                        <strong>Estimated Time</strong>
                    </div>
                    <div class="col-2 text-center">
                        <strong>Active Time</strong>
                    </div>
                    <div class="col-1">
                        <strong>Status</strong>
                    </div>
                    <div class="col-2">
                        <strong>Remarks</strong>
                    </div>
                </div>
                @for (task of project.tasks; track task.taskName; let taskIndex = $index) {
                    <!-- Task Row body -->
                    <div class="row align-items-center pb-4">
                        <!-- Remove task button -->
                        <div class="col-1 text-center d-flex justify-content-center">
                            <button class="btn"
                                    [ngClass]="{'opacity-0': taskIndex < 1}"
                                    (click)="moveTaskUpward(projectIndex, taskIndex)">
                                <fa-icon [icon]="caretUpIcon"></fa-icon>
                            </button>

                            <button class="btn text-danger" (click)="removeTask(projectIndex, taskIndex)">
                                <fa-icon class="fa-xl" [icon]="minusIcon"></fa-icon>
                            </button>

                            <button class="btn"
                                    [ngClass]="{'opacity-0': taskIndex == project.tasks.length - 1}"
                                    (click)="moveTaskDownward(projectIndex, taskIndex)">
                                <fa-icon [icon]="caretDownIcon"></fa-icon>
                            </button>
                        </div>
                        <div class="col-1">
                            {{ taskIndex + 1 }}
                        </div>

                        <!-- Task Name -->
                        <div class="col-3">
                            <textarea class="form-control" rows="1" [(ngModel)]="task.taskName" autoGrow></textarea>
                        </div>

                        <!-- Estimated Time -->
                        <div class="col-1">
                            <div class="input-group">
                                <input type="number" class="form-control" min="0" max="60"
                                       [(ngModel)]="task.estimatedHour">
                                <span class="input-group-text">H</span>
                            </div>
                        </div>
                        <div class="col-1">
                            <div class="input-group">
                                <input type="number" class="form-control" min="0" max="60"
                                       [(ngModel)]="task.estimatedMinute">
                                <span class="input-group-text">M</span>
                            </div>
                        </div>

                        <!-- Active Time -->
                        <div class="col-1">
                            <div class="input-group">
                                <input type="number" class="form-control" min="0" max="60"
                                       [(ngModel)]="task.activeHour">
                                <span class="input-group-text">H</span>
                            </div>
                        </div>
                        <div class="col-1">
                            <div class="input-group">
                                <input type="number" class="form-control" min="0" max="60"
                                       [(ngModel)]="task.activeMinute">
                                <span class="input-group-text">M</span>
                            </div>
                        </div>

                        <!-- Status -->
                        <div class="col-1">
                            <select class="form-control" [(ngModel)]="task.status">
                                <option value="" selected>Select</option>
                                <option value="Working">Working</option>
                                <option value="In Progress">In Progress</option>
                                <option value="Done">Done</option>
                                <option value="Pending">Pending</option>
                            </select>
                        </div>

                        <!-- Remarks -->
                        <div class="col-2">
                            <textarea class="form-control" rows="1" [(ngModel)]="task.remarks" autoGrow></textarea>
                        </div>
                    </div>
                }
                <hr class="pb-5">
            }

        </div>
    </div>

    <footer>
        <!-- Submit Button -->
        <div class="submit-div bg-secondary-subtle">
            <div class="container">
                <div class="row text-center ">
                    <div class="col-12 my-3">
                        <button class="btn btn-primary px-5" (click)="openPreviewModal()">
                            <fa-icon [icon]="viewIcon" class="me-1"></fa-icon>
                            Save & Preview
                        </button>
                        <button class="btn btn-success px-5 mx-3" (click)="saveData()">
                            <fa-icon [icon]="saveIcon" class="me-1"></fa-icon>
                            Save
                        </button>
                        <button class="btn btn-danger px-5 mx-3" (click)="clearTasks()">
                            <fa-icon [icon]="clearIcon" class="me-1"></fa-icon>
                            Clear Tasks
                        </button>
                        <button class="btn btn-danger px-5" (click)="clearAllStorageData()">
                            <fa-icon [icon]="deleteIcon" class="me-1"></fa-icon>
                            Clear All Data
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
